<h1 class="font-bold block mb-4 text-2xl text-pink-500">Season viewings</h1>

<div id="season_viewings">
  <% @season_viewings.each do |season_viewing| %>
    <%= render season_viewing %>
  <% end %>
</div>

<%# link_to "Add Season to Watch List", new_season_viewing_path %>
