<h1 class="block text-2xl font-bold text-pink-500 mb-3">Add Season to Watch List</h1>

<%= render "form", season_viewing: @season_viewing %>

<br>

<div>
  <%= link_to "Back to seasons", season_viewings_path %>
</div>
