<% if params[:filter] %>
  <h1 class="font-bold block mb-4 text-2xl text-pink-500">My Watch List</h1>
<% else %>
    <h1 class="font-bold block mb-4 text-2xl text-pink-500">Shows People are Watching</h1>
<% end %>

<div id="viewings" class="grid gap-4 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
  <% @viewings.each do |viewing| %>
    <div class="m-2">
    <%= render viewing %>
    <p>
      <%= link_to "More Info", viewing, class: "text-white bg-pink-700 hover:bg-pink-800 focus:ring-4
      focus:ring-pink-300 font-medium rounded-lg text-sm px-5 py-2.5 my-3 dark:bg-pink-600 dark:hover:bg-pink-700 focus:outline-none dark:focus:ring-pink-800" %>
    </p>
    </div>
  <% end %>
</div>

<%# link_to "New viewing", new_viewing_path %>
