<h1>Viewings</h1>

<div id="viewings">
  <% @viewings.each do |viewing| %>
    <%= render viewing %>
    <p>
      <%= link_to "Show this viewing", viewing, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 my-3 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
    </p>
  <% end %>
</div>

<%# link_to "New viewing", new_viewing_path %>
