{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/tv/66573/season/2?api_key=<API_KEY>",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "99eb61fbc1390de3538796c1dce90ee4"
          ],
          "X-Memc-Age": [
            "12042"
          ],
          "X-Memc-Expires": [
            "13055"
          ],
          "Etag": [
            "W/\"6ad085d92d70bc411a9b9c206d09d5b1\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"_id\":\"597f95479251415d5d0380b7\",\"air_date\":\"2017-09-20\",\"episodes\":[{\"air_date\":\"2017-09-20\",\"episode_number\":1,\"episode_type\":\"standard\",\"id\":1343101,\"name\":\"Everything Is Great!\",\"overview\":\"Having had their memories erased by ambitious master architect Michael, Eleanor, Chidi, Tahani and Jason again settle into the Good Place, unaware of what has previously transpired...except that Eleanor discovers the one clue she had left for herself and attempts to piece things together.\",\"production_code\":\"\",\"runtime\":42,\"season_number\":2,\"show_id\":66573,\"still_path\":\"/kxHOrDnZQhLCNvLxmRn21oz69zx.jpg\",\"vote_average\":7.7,\"vote_count\":43,\"crew\":[{\"job\":\"Key Makeup Artist\",\"department\":\"Costume \\u0026 Make-Up\",\"credit_id\":\"59c719ce9251415b6e04d97c\",\"adult\":false,\"gender\":1,\"id\":1562950,\"known_for_department\":\"Costume \\u0026 Make-Up\",\"name\":\"Simone Almekias-Siegl\",\"original_name\":\"Simone Almekias-Siegl\",\"popularity\":1.577,\"profile_path\":null},{\"job\":\"Key Hair Stylist\",\"department\":\"Costume \\u0026 Make-Up\",\"credit_id\":\"59c71a169251415b77054846\",\"adult\":false,\"gender\":0,\"id\":1893800,\"known_for_department\":\"Costume \\u0026 Make-Up\",\"name\":\"Brian Andrew Turnstall\",\"original_name\":\"Brian Andrew Turnstall\",\"popularity\":0.98,\"profile_path\":null},{\"job\":\"Key Hair Stylist\",\"department\":\"Costume \\u0026 Make-Up\",\"credit_id\":\"59c719e0c3a3681461046ed2\",\"adult\":false,\"gender\":0,\"id\":16343[...]
