{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/trending/tv/week?api_key=<API_KEY>",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "210cb9de83c51d244f4772e80cd1de10"
          ],
          "X-Memc-Age": [
            "210"
          ],
          "X-Memc-Expires": [
            "390"
          ],
          "Etag": [
            "W/\"8cdd4f7316e65780ebe3f24248568ff4\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/aRKQdF6AGbhnF9IAyJbte5epH5R.jpg\",\"id\":111110,\"name\":\"ONE PIECE\",\"original_language\":\"en\",\"original_name\":\"ONE PIECE\",\"overview\":\"With his straw hat and ragtag crew, young pirate Monkey D. Luffy goes on an epic voyage for treasure in this live-action adaptation of the popular manga.\",\"poster_path\":\"/rVX05xRKS5JhEYQFObCi4lAnZT4.jpg\",\"media_type\":\"tv\",\"genre_ids\":[10759,10765],\"popularity\":1298.016,\"first_air_date\":\"2023-08-31\",\"vote_average\":8.293,\"vote_count\":473,\"origin_country\":[\"US\"]},{\"adult\":false,\"backdrop_path\":\"/mvoW41kdSxiobGZ9ONL1Tqrpt3h.jpg\",\"id\":114461,\"name\":\"Ahsoka\",\"original_language\":\"en\",\"original_name\":\"Ahsoka\",\"overview\":\"Former Jedi Knight Ahsoka Tano investigates an emerging threat to a vulnerable galaxy.\",\"poster_path\":\"/laCJxobHoPVaLQTKxc14Y2zV64J.jpg\",\"media_type\":\"tv\",\"genre_ids\":[10765,10759],\"popularity\":1226.854,\"first_air_date\":\"2023-08-22\",\"vote_average\":8.091,\"vote_count\":186,\"origin_country\":[...]
