{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/tv/66573/credits?api_key=<API_KEY>",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "0aa28c91cb28bbb29bd3b1537a3f882a"
          ],
          "X-Memc-Age": [
            "14378"
          ],
          "X-Memc-Expires": [
            "8073"
          ],
          "Etag": [
            "W/\"4c4e8177b04acd5a98bdadc5e0b6b7f3\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"cast\":[{\"adult\":false,\"gender\":1,\"id\":40462,\"known_for_department\":\"Acting\",\"name\":\"Kristen Bell\",\"original_name\":\"Kristen Bell\",\"popularity\":21.653,\"profile_path\":\"/rP74dJXl7EjinGM0shQtUOlH5s2.jpg\",\"character\":\"Eleanor Shellstrop\",\"credit_id\":\"574315adc3a3685342000ace\",\"order\":0},{\"adult\":false,\"gender\":2,\"id\":12836,\"known_for_department\":\"Acting\",\"name\":\"Ted Danson\",\"original_name\":\"Ted Danson\",\"popularity\":13.901,\"profile_path\":\"/2QUEYVhrKbOkRKeFEUnc5sJby6a.jpg\",\"character\":\"Michael\",\"credit_id\":\"574315a6c3a36852d100097d\",\"order\":1},{\"adult\":false,\"gender\":2,\"id\":1410478,\"known_for_department\":\"Acting\",\"name\":\"William Jackson Harper\",\"original_name\":\"William Jackson Harper\",\"popularity\":13.073,\"profile_path\":\"[...]
