{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/tv/66573?api_key=<API_KEY>",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "0932494f0bac536c853714b90e98c06b"
          ],
          "X-Memc-Age": [
            "951"
          ],
          "X-Memc-Expires": [
            "2649"
          ],
          "Etag": [
            "W/\"5b0c3dea2db73acfcd8a473e6d969ede\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"adult\":false,\"backdrop_path\":\"/tZmlWeFEMvxrjJhBJJcLNXpSRiG.jpg\",\"created_by\":[{\"id\":1226308,\"credit_id\":\"57431566c3a3686ffd001fc4\",\"name\":\"Michael Schur\",\"gender\":2,\"profile_path\":\"/uFqjvTHNCfThf9ahEIYWFkszm9c.jpg\"}],\"episode_run_time\":[22],\"first_air_date\":\"2016-09-19\",\"genres\":[{\"id\":10765,\"name\":\"Sci-Fi & Fantasy\"},{\"id\":35,\"name\":\"Comedy\"}],\"homepage\":\"http://www.nbc.com/the-good-place\",\"id\":66573,\"in_production\":false,\"languages\":[\"en\"],\"last_air_date\":\"2020-01-30\",\"last_episode_to_air\":{\"id\":2043899,\"name\":\"Whenever You're Ready\",\"overview\":\"Michael works with the Joint Council of Afterlife Affairs to smooth out kinks in the system. Jason and Tahani move on. Eleanor tries to influence Chidi.\",\"vote_average\":9.3,\"vote_count\":26,\"air_date\":\"2020-01-30\",\"episode_number\":13,\"episode_type\":\"finale\",\"production_code\":\"\",\"runtime\":54,\"season_number\":4,\"show_id\":66573,\"still_path\":\"/40JOgMD6JTSP3ohjg9L4mSkIOOY.jpg\"},\"name\":\"The Good Place\",\"next_episode_to_air\":null,\"networks\":[{\"id\":6,\"logo_path\":\"/cm111bsDVlYaC1foL0itvEI4yLG.png\",\"name\":\"NBC\",\"origin_country\":\"US\"}],\"number_of_episodes\":50,\"number_of_seasons\":4,\"origin_country\":[\"US\"],\"original_language\":\"en\",\"original_name\":\"The Good Place\",\"overview\":\"Eleanor Shellstrop, an ordinary woman who, through an extraordinary string of events, enters the afterlife where she comes to realize that she hasn't been a very good person. With the help of her wise afterlife mentor, she's determined to shed her old way of living and discover the awesome (or at least the pretty good) person within.\",\"popularity\":86.906,\"poster_path\":\"/eFV0O3u0CbVdhEYIozea4iZRn3O.jpg\",\"production_companies\":[{\"id\":81404,\"logo_path\":\"/w9oFiEoQE96FGKzuWUUN7443Zil.png\",\"name\":\"Fremulon\",\"origin_country\":\"US\"},{\"id\":787,\"logo_path\":\"/cCefBs1t7jxtiz3eCxBp9yxrxGx.png\",\"name\":\"3 Arts Entertainment\",\"origin_country\":\"US\"},{\"id\":26727,\"logo_path\":\"/jeTxdjXhzgKZyLr3l9MllkTn3fy.png\",\"name\":\"Universal Television\",\"origin_country\":\"US\"}],\"production_countries\":[{\"iso_3166_1\":\"US\",\"name\":\"United States of America\"}],\"seasons\":[{\"air_date\":\"2019-09-13\",\"episode_count\":8,\"id\":132282,\"name\":\"Specials\",\"overview\":\"\",\"poster_path\":\"/jyPS0VLfYQ0QUCDfazzWJhtDmMK.jpg\",\"season_number\":0,\"vote_average\":0.0},{\"air_date\":\"2016-09-19\",\"episode_count\":13,\"id\":77323,\"name\":\"Season 1\",\"overview\":\"What happens when we die? It’s a question everyone has asked, since the beginning of time. But when Eleanor Shellstrop dies tragically, she finds out that the afterlife is amazing; full of frozen yogurt, soulmates, and wonderful people who have done[...]
