{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/multi?api_key=<API_KEY>&query=The%20Good%20Place",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "MISS, STORE"
          ],
          "X-Memc-Key": [
            "7f303b92bb4e9ed352c4096ad5ef1777"
          ],
          "X-Memc-Age": [
            "0"
          ],
          "X-Memc-Expires": [
            "25707"
          ],
          "Etag": [
            "W/\"4a194d20a0224ba9a14252189499aefd\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/tZmlWeFEMvxrjJhBJJcLNXpSRiG.jpg\",\"id\":66573,\"name\":\"The Good Place\",\"original_language\":\"en\",\"original_name\":\"The Good Place\",\"overview\":\"Eleanor Shellstrop, an ordinary woman who, through an extraordinary string of events, enters the afterlife where she comes to realize that she hasn't been a very good person. With the help of her wise afterlife mentor, she's determined to shed her old way of living and discover the awesome (or at least the pretty good) person within.\",\"poster_path\":\"/eFV0O3u0CbVdhEYIozea4iZRn3O.jpg\",\"media_type\":\"tv\",\"genre_ids\":[10765,35],\"popularity\":86.906,\"first_air_date\":\"2016-09-19\",\"vote_average\":8.0,\"vote_count\":1300,\"origin_country\":[\"US\"]},{\"adult\":false,\"backdrop_path\":null,\"id\":319165,\"title\":\"The place is good!\",\"original_language\":\"fr\",\"original_title\":\"La place est bonne!\",\"overview\":\"A maid applies to a good position at the Dutilleul's, but she wouldn't know how good it was to be until people starts taking her for the lady of the house...\",\"poster_path\":\"/coZfDIyEJLFNvYox9hjdsp2EdcO.jpg\",\"media_type\":\"movie\",\"genre_ids\":[35],\"popularity\":0.6,\"release_date\":\"1930-12-31\",\"video\":false,\"vote_average\":0.0,\"vote_count\":0},{\"adult\":false,\"backdrop_path\":\"/dw773k6iva4sQjEnNjiBFAOUJxH.jpg\",\"id\":807068,\"title\":\"The Paley Center Salutes The Good Place\",\"original_language\":\"en\",\"original_title\":\"The Paley Center Salutes The Good Place\",\"overview\":\"In anticipation and celebration of the fourth and final season of NBC’s critically applauded and Emmy Award-nominated comedy, the network and The Paley Center for Media are collaborating on the hourlong speci[...]
