{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/person/1/tv_credits?api_key=<API_KEY>",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "533fd06fedf777c9007a334f1e689580"
          ],
          "X-Memc-Age": [
            "2420"
          ],
          "X-Memc-Expires": [
            "22513"
          ],
          "Etag": [
            "W/\"61b578c60b65ae6aa5969f0bad33d9a2\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"cast\":[{\"adult\":false,\"backdrop_path\":\"/1axH9IYz5fCHVUDNXLzivKEQObK.jpg\",\"genre_ids\":[10763,35],\"id\":2224,\"origin_country\":[\"US\"],\"original_language\":\"en\",\"original_name\":\"The Daily Show\",\"overview\":\"Trevor Noah and The World's Fakest News Team tackle the biggest stories in news, politics and pop culture.\",\"popularity\":841.931,\"poster_path\":\"/nhZhgLYBNYDFRkDwljtrrAVtjop.jpg\",\"first_air_date\":\"1996-07-22\",\"name\":\"The Daily Show\",\"vote_average\":6.332,\"vote_count\":452,\"character\":\"Self\",\"credit_id\":\"52572b3d760ee3776a2d7b61\",\"episode_count\":2},{\"adult\":false,\"backdrop_path\":\"/fHuFC0dyByATXExt0dxnc3DBlRs.jpg\",\"genre_ids\":[18],\"id\":2673,\"origin_country\":[\"US\"],\"original_language\":\"en\",\"original_name\":\"The O.C.\",\"overview\":\"Ryan Atwood, a teen from the wrong side of the tracks, moves in with a wealthy family willing to give him a chance. But Ryan's arrival disturbs the status quo of the affluent, privileged community of Newport Beach, California.\",\"popularity\":106.089,\"poster_path\":\"/xDc6BMGDaeyalpSZ9KKk[...]
