<div id="<%= dom_id chat %>">
  <p>
    <strong>Recommend:</strong>
    <%= chat.recommend_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= chat.user_id %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= chat.body %>
  </p>

</div>
