<h1 class="block text-2xl text-pink-500 font-bold mb-3">Reviews</h1>

<div id="reviews" class="grid gap-4 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
  <% @reviews.each do |review| %>
    <%= render review %>
  <% end %>
</div>
