<% if notice %>
    <div class="ml-3 container mx-auto py-5 flex border-pink-500">
      <p class="text-green-500"><%= notice %></p>
    </div>
<% end %>
<% if alert %>
  <div class="ml-3 container mx-auto py-5 flex border-pink-500">
    <p class="text-red-500"><%= alert %></p>
  </div>
<% end %>