<% if notice %>
    <div class="flex inline-block ml-3 container mx-auto py-5 flex outline-1 border rounded border-pink-500">
      <p class="ml-3 font-bold text-green-500"><%= notice %></p>
    </div>
<% end %>
<% if alert %>
  <div class="flex inline-block ml-3 container mx-auto py-5 flex border rounded border-pink-500">
    <p class="ml-3 font-bold text-red-500"><%= alert %></p>
  </div>
<% end %>